# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# C/C++ build outputs
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out

# Project binaries/build dirs
remidner/main_app
build/
dist/


# Specific Files
main_app
